body{
    background:darkgoldenrod;
}

#score{
    font-size: 30px;
    margin-left: 100px;
}

#timer{
    font-size: 30px;
    float:right;
    margin-right: 150px;
}

p{
    font-size: 20px;
}

#drawing{
    color:rgb(244, 10, 10);
    font-size: 25px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 70px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px black;}
    to{box-shadow: 1px 1px 38px white;}
}